* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
  color: rgba(18, 18, 18, 0.842);
}

.main {
  display: flex;
}

section {
  width: 20%;
  height: 1000px;
  box-shadow: 2px 0px 2px 1px rgb(146, 139, 139);
  position: fixed;
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: rgba(173, 171, 171, 0.092);
}

.options {
  width: 100%;
  height: 5%;
  text-align: center;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(224, 220, 220);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgba(18, 18, 18, 0.842);
}

main {
  padding: 0.8em;
  padding-left: 2em;
  margin-left: 20%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3em 2em;
}

.poke {
  height: 520px;
  width: 320px;
  padding: 0.5em;
  background-color: rgba(232, 230, 230, 0.738);
  box-shadow: 1px 1px 2px 2px rgb(114, 113, 113);
  border-radius: 5px;
  overflow: hidden;
}

.img {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(rgb(236, 234, 234), rgb(114, 110, 110));
}

img {
  width: 100%;
  height: 100%;
}

.info {
  width: 100%;
  height: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overview {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.35em 0.7em;
  line-height: 1.1em;
}

.name {
  padding: 0.35em;
  font-weight: 700;
  text-transform: capitalize;
}

.types {
  display: flex;
  align-items: center;
  gap: 0 1.5em;
}

.type {
  text-align: center;
  padding: 0.2em 0.35em;
  border-radius: 10%;
  color: white;
}

.details {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

table {
  width: 100%;
  font-weight: 500;
}

.details tr {
  padding: 0.20em 0.25em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid gray;
}

.value {
  font-weight: 300;
}

.grass {
  background-color: mediumseagreen;
  color: white;
}

.poison {
  background-color: rgba(116, 11, 169, 0.85);
  color: white;
}

.fire {
  background-color: rgba(232, 153, 5, 0.866);
  color: white;
}

.flying {
  background-color: rgb(0, 128, 134);
  color: white;
}

.water {
  background-color: rgb(50, 113, 248);
  color: white;
}

.bug {
  background-color: brown;
  color: white;
}

.normal {
  background-color: rgb(132, 132, 132);
  color: white;
}

.fairy {
  background-color: rgba(255, 105, 180, 0.933);
  color: white;
}

.ground {
  background-color: rgb(93, 66, 66);
  color: white;
}

.electric {
  background-color: rgba(255, 225, 2, 0.815);
  color: white;
}

.fighting {
  background-color: rgb(193, 25, 3);
  color: white;
}

.psychic {
  background-color: orange;
  color: white;
}

.rock {
  background-color: rgb(85, 85, 85);
  color: white;
}

.ice {
  background-color: rgb(124, 204, 243);
  color: white;
}

.dragon {
  background-color: mediumaquamarine;
  color: white;
}

.steel {
  background-color: slategray;
  color: white;
}

.dark {
  background-color: rgb(24, 24, 24);
  color: white;
}

.ghost {
  background-color: rgb(92, 91, 91);
  color: white;
}

.all {
  background-color: #b6b3b3;
  color: white;
}

@media (max-height: 800px) {
  .sidebar {
    overflow-y: scroll;
  }

  a {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  a {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  a {
    font-size: 1.1rem;
  }

  .name {
  padding: 0.1em;
  font-weight: 500;
  text-transform: capitalize;
}

.types {
  display: flex;
  align-items: center;
  gap: 0 1em;
}

.type {
  text-align: center;
  padding: 0.03em 0.15em;
  border-radius: 10%;
  color: white;
}
}

@media (max-width: 400px) {
  a {
    font-size: 0.9rem;
  }

.poke {
  height: 450px;
  width: 270px;
  padding: 0.2em;
  background-color: rgba(232, 230, 230, 0.738);
  box-shadow: 1px 1px 2px 2px rgb(114, 113, 113);
  border-radius: 5px;
  overflow: hidden;
}

.img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(rgb(236, 234, 234), rgb(114, 110, 110));
}

.info {
  width: 100%;
  height: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
}